.about {
  margin-left: 312px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  button {
    margin-top: 16px;
    &:hover {
      cursor: pointer;
      transform: scale(1.15);
    }
  }
}

.full-name {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.full-name h1:nth-child(2) {
  color: var(--purple-color);
}

.summary {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  p {
    text-indent: 16px;
  }
}
