.about-section {
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.full-name h1:nth-child(2) {
  color: var(--purple-color);
}

.about {
  width: 500px;
  margin-left: 312px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  button {
    margin-top: 16px;
    &:hover {
      cursor: pointer;
      transform: scale(1.15);
    }
  }
}
