.profile-container {
  position: absolute;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.default {
  width: calc(100% - 320px);
  height: 25vh;
}
