form {
  width: 70%;
  background-color: var(--dark-grey-color);
  padding: 48px;
  border-radius: 8px;

  display: flex;
  flex-direction: column;
  gap: 48px;

  button {
    background-color: #3f51b5;
    align-self: flex-end;

    @media (max-width: 1023px) {
      width: 100%;
    }
  }

  @media (max-width: 1023px) {
    background-color: var(--dark-grey-color);
    width: 100%;
    padding: 16px;
  }
}

.form-fields {
  display: flex;
  flex-direction: column;
  gap: 48px;
  flex: 1;
}

.form-information {
  display: flex;
  justify-content: space-between;
  gap: 32px;

  @media (max-width: 1023px) {
    flex-direction: column;
  }
}

.form-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 48px;

  @media (max-width: 1023px) {
    width: 100%;
  }
}
