form {
  width: 70%;
  background-color: var(--dark-grey-color);
  padding: 48px;
  border-radius: 16px;

  display: flex;
  flex-direction: column;
  gap: 48px;
  position: relative;

  button {
    background-color: #3f51b5;
    position: absolute;
    bottom: 48px;
    right: 48px;
  }
}

.form-information {
  display: flex;
  justify-content: space-between;
  gap: 32px;
}

.form-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 48px;
}
