.talk {
  height: 420px;
  align-items: center;
  text-align: center;
  p {
    color: var(--light-grey);
  }

  &:hover {
    h4 {
      color: var(--purple-color);
    }
  }
}

.talk-picture {
  width: 100%;
  min-height: 180px;
  max-height: 180px;
  overflow: hidden;
  background-color: white;

  @media (max-width: 1023px) {
    width: 210px;
    min-height: 120px;
  }
}

.talk-title {
  flex: 1;
  display: flex;
  align-items: center;
  h4 {
    color: white;
  }
}
