.talk {
  height: 420px;
  align-items: center;
  text-align: center;
  p {
    color: var(--light-grey);
  }

  &:hover {
    h4 {
      color: var(--purple-color);
    }
  }
}

.talk-picture {
  width: 100%;
  min-height: 180px;
  max-height: 180px;
  background-color: white;
}

.talk-title {
  flex: 1;
  display: flex;
  align-items: center;
  h4 {
    color: white;
  }
}
