.project {
  height: 480px;
}

.card-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
}

.card-title {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.card-title :nth-child(2) {
  color: lightgray;
}

.card-logo {
  max-width: 80px;
  min-width: 80px;
  min-height: 80px;
  max-height: 80px;
  border-radius: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 16px;
  flex: 1;
}

.card-summary {
  flex: 1;
}

.project-info {
  display: flex;
  justify-content: space-between;
  padding: 16px 0px;
}

.card-footer {
  display: flex;
  flex-direction: column;
  h4 {
    padding-bottom: 16px;
    color: rebeccapurple;
  }
  hr {
    border: 0.8px solid var(--light-grey);
  }
  p:nth-child(2) {
    color: var(--light-grey);
  }
}

.card-link {
  color: white;
  display: flex;
  align-self: flex-end;
}
