.portfolio-container {
  display: grid;
  grid-template-areas: "sidebar main";
  position: relative;
}

.profile-container {
  position: absolute;
  z-index: 1;
}

.sidebar {
  grid-area: sidebar;
}

main {
  grid-area: main;
  height: 75vh;
  margin-top: 25vh;
  padding: 0px 64px 32px 64px;
}

.download-btn {
  border-radius: 24px 0px 0px 24px;
  position: fixed;
  right: 0;
  top: 10vh;
  z-index: 4;
}
