.section {
  height: 100%;
  background-color: var(--dark-grey-color);
  border-radius: 8px;

  display: grid;
  grid-template-columns: 1fr 1fr;
}

.education-container,
.experiences-container {
  padding: 48px;
  display: flex;
  flex-direction: column;
  gap: 48px;
  overflow-y: hidden;
}

.educations,
.experiences {
  display: flex;
  flex-direction: column;
  gap: 24px;
  overflow-y: scroll;
}
