.volunteering {
  width: 400px;
  height: 120px;

  flex-direction: row;
  background-color: var(--dark-grey-color);

  &:hover {
    background-color: var(--primary-color);
  }
}

.active {
  background-color: var(--primary-color);
}

.logo-container {
  width: 72px;
  height: 72px;
  background-color: white;
  border-radius: 8px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;

  h3 {
    font-size: 28px;
  }
}
