.profile-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 64px;

  &.compact-profile {
    height: 25vh;
  }
}

.profile-information {
  display: flex;
  align-items: center;
  gap: 16px;
}

.picture-container {
  max-width: 550px;
  min-width: 550px;

  &.compact-picture {
    max-width: 160px;
    min-width: 160px;
  }
}

.profile-picture {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.social-media-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 16px;
}

.hide-container {
  display: none;
}

.social-media {
  max-width: 55px;
  max-height: 55px;
  min-width: 55px;
  min-height: 55px;
  border-radius: 50%;
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover {
    cursor: pointer;
    transform: scale(1.15);
  }
  a {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.information {
  width: max-content;
  display: flex;
  flex-direction: column;
}
