.education-section {
  height: 100%;
  background-color: var(--dark-grey-color);
  border-radius: 8px;
}

.education-container {
  padding: 48px;
  display: flex;
  flex-direction: column;
  gap: 48px;
  overflow-y: hidden;
}

.educations {
  display: flex;
  flex-direction: column;
  gap: 24px;
  overflow-y: scroll;
}
