.sidebar-container {
  height: 100vh;
  position: fixed;
  background-color: var(--primary-color);
  padding: 64px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

nav {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.section-link {
  position: relative;
  font-family: var(--font-oswald);
  font-size: 32px;
  font-weight: 500;
  &:hover,
  &.active {
    &:after {
      content: "";
      display: block;
      position: absolute;
      top: 50%;
      left: -64px;
      width: calc(100% + 96px);
      height: 6px;
      background: var(--purple-color);
      border-radius: 10px;
      z-index: -1;
    }
  }
  &:hover {
    cursor: default;
  }
}
