.skill-container {
  width: 280px;
  border-radius: 48px;
  background-color: var(--dark-grey-color);
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.4);
  border: 1px solid #2a2a2a;

  display: flex;
  align-items: center;
  gap: 16px;
  padding: 16px 32px;

  &:hover {
    box-shadow: 0px 4px 12px #554c8f;
    border: 1px solid #554c8f;
  }
}

.skill-icon-container {
  max-width: 64px;
  min-width: 64px;
  max-height: 64px;
  min-height: 64px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.skill-rate {
  font-size: 22px;
}

.skill-name {
  font-family: var(--font-oswald);
  font-size: 18px;
  color: lightgrey;
}
